{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
{% endblock %}

{% block main %}
    <div class="row">
       <div class="col-sm-12">
            <div class="main_wrap">
                <h1>CRUDチュートリアル</h1>
                <p>投稿を行なってください</p>
                <dl>
                    <dt>コントローラーから取得した変数です</dt>
                    <dd>
                        {#{{ viewname }}#}★コメントアウト
                    </dd>
                </dl>
            </div>
           <div id="form-wrapper">★追記
               {{ form_widget(forms._token)}}
               {{ form_widget(forms)}}
           </div>
        </div>
    </div>
{% endblock %}

