.
..
...

{# 会社名 #}
<div id="detail_box__company_name" class="form-group">
    
    <div class="col-sm-9 col-lg-10">
        
        
    </div>
</div>
{# 部署名 #}
<div id="detail_box__department" class="form-group">
    
    <div class="col-sm-9 col-lg-10">
        
        
    </div>
</div>
.
..
...
