{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}★<sctipt> ～ </script>を削除
{% endblock ％」

{% block main %}
    <div class="row">
       <div class="col-sm-12">
            <div class="main_wrap">★ID名称を変更「main_visual」→「main_wrap」、「main_visual」内を削除し新しく内容を追記
                <h1>CRUDチュートリアル</h1> ★追記
                <p>投稿を行なってください</p> ★追記
            </div>
        </div>
    </div>
{% endblock %}
