{% extends 'default_frame.twig' %}

{% set body_class = 'front_page' %}

{% block javascript %}
<script>
$(function(){
    $('.main_visual').slick({
        dots: true,
        arrows: false,
        autoplay: true,
        speed: 300
    });
});
</script>
{% endblock %}

{% block main %}
    <div class="row">
       <div class="col-sm-12">
            <div class="main_visual">
                <div class="item">
                  <img src="/img/top/mv01.jpg">
                </div>
                <div class="item">
                  <img src="/img/top/mv02.jpg">
                </div>
                <div class="item">
                  <img src="/img/top/mv03.jpg">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
