<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="robots" content="index, follow, all" />
    <title>Eccube\Framework\View\SmartphoneView | EC-CUBE3 API Specifications</title>

            <link rel="stylesheet" type="text/css" href="../../../css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="../../../css/sami.css">
        <script src="../../../js/jquery-1.11.1.min.js"></script>
        <script src="../../../js/bootstrap.min.js"></script>
        <script src="../../../js/typeahead.min.js"></script>
        <script src="../../../sami.js"></script>
        <meta name="MobileOptimized" content="width">
        <meta name="HandheldFriendly" content="true">
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    
    
    </head>

    <body id="class" data-name="class:Eccube_Framework_View_SmartphoneView" data-root-path="../../../">
            <div id="content">
        <div id="left-column">
                <div id="control-panel">
                    <form action="#" method="GET">
                <select id="version-switcher" name="version">
                                            <option value="../../../../3.0.0-beta0/index.html" data-version="3.0.0-beta0">3.0.0-beta0</option>
                                            <option value="../../../../3.0.0-beta1/index.html" data-version="3.0.0-beta1">3.0.0-beta1</option>
                                            <option value="../../../../3.0.0-beta2/index.html" data-version="3.0.0-beta2">3.0.0-beta2</option>
                                            <option value="../../../../3.0.0-beta3/index.html" data-version="3.0.0-beta3">3.0.0-beta3</option>
                                            <option value="../../../../3.0.0-beta4/index.html" data-version="3.0.0-beta4">3.0.0-beta4</option>
                                            <option value="../../../../3.0.0/index.html" data-version="3.0.0">3.0.0</option>
                                            <option value="../../../../3.0.1/index.html" data-version="3.0.1">3.0.1</option>
                                            <option value="../../../../3.0.2/index.html" data-version="3.0.2">3.0.2</option>
                                            <option value="../../../../3.0.3/index.html" data-version="3.0.3">3.0.3</option>
                                            <option value="../../../../3.0.4/index.html" data-version="3.0.4">3.0.4</option>
                                            <option value="../../../../3.0.5/index.html" data-version="3.0.5">3.0.5</option>
                                            <option value="../../../../3.0.6/index.html" data-version="3.0.6">3.0.6</option>
                                            <option value="../../../../3.0.7/index.html" data-version="3.0.7">3.0.7</option>
                                            <option value="../../../../3.0.8-for-plugin-test/index.html" data-version="3.0.8-for-plugin-test">3.0.8-for-plugin-test</option>
                                            <option value="../../../../3.0.8/index.html" data-version="3.0.8">3.0.8</option>
                                            <option value="../../../../3.0.9/index.html" data-version="3.0.9">3.0.9</option>
                                            <option value="../../../../3.0.10/index.html" data-version="3.0.10">3.0.10</option>
                                            <option value="../../../../3.0.11/index.html" data-version="3.0.11">3.0.11</option>
                                            <option value="../../../../3.0.11-pre/index.html" data-version="3.0.11-pre">3.0.11-pre</option>
                                            <option value="../../../../3.0.12/index.html" data-version="3.0.12">3.0.12</option>
                                            <option value="../../../../3.0.12-p1/index.html" data-version="3.0.12-p1">3.0.12-p1</option>
                                            <option value="../../../../3.0.13/index.html" data-version="3.0.13">3.0.13</option>
                                            <option value="../../../../3.0/index.html" data-version="3.0">3.0 branch</option>
                                            <option value="../../../../master/index.html" data-version="master">master branch</option>
                                    </select>
            </form>
                <script>
            $('option[data-version="'+window.projectVersion+'"]').prop('selected', true);
        </script>
        <form id="search-form" action="../../../search.html" method="GET">
            <span class="glyphicon glyphicon-search"></span>
            <input name="search"
                   class="typeahead form-control"
                   type="search"
                   placeholder="Search">
        </form>
    </div>

                <div id="api-tree"></div>

        </div>
        <div id="right-column">
                <nav id="site-nav" class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-elements">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="../../../index.html">EC-CUBE3 API Specifications</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-elements">
                <ul class="nav navbar-nav">
                    <li><a href="../../../classes.html">Classes</a></li>
                                            <li><a href="../../../namespaces.html">Namespaces</a></li>
                                        <li><a href="../../../interfaces.html">Interfaces</a></li>
                    <li><a href="../../../traits.html">Traits</a></li>
                    <li><a href="../../../doc-index.html">Index</a></li>
                    <li><a href="../../../search.html">Search</a></li>
                </ul>
            </div>
        </div>
    </nav>

                        <div class="namespace-breadcrumbs">
            <ol class="breadcrumb">
                <li><span class="label label-default">class</span></li>
                                                            <li><a href="../../../Eccube.html">Eccube</a></li>
                                        <li><a href="../../../Eccube/Framework.html">Framework</a></li>
                                        <li><a href="../../../Eccube/Framework/View.html">View</a></li>
    
                <li>SmartphoneView</li>
            </ol>
        </div>
                    <div id="page-content">
                    
    <div class="page-header">
        <h1>
            SmartphoneView
                
        </h1>
    </div>

    <p>    class
    <strong>SmartphoneView</strong>        extends <a href="../../../Eccube/Framework/View/SiteView.html"><abbr title="Eccube\Framework\View\SiteView">SiteView</abbr></a>
</p>

        
    

    
    
    
            <h2>Properties</h2>

            <table class="table table-condensed">
                    <tr>
                <td class="type" id="property__smarty">
                                                                                
                </td>
                <td>$_smarty</td>
                <td class="last"></td>
                <td><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#property__smarty"><abbr title="Eccube\Framework\View">View</abbr></a></small></td>
            </tr>
                    <tr>
                <td class="type" id="property_objPage">
                                                                                
                </td>
                <td>$objPage</td>
                <td class="last"></td>
                <td><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#property_objPage"><abbr title="Eccube\Framework\View">View</abbr></a></small></td>
            </tr>
            </table>

    
            <h2>Methods</h2>

            <div class="container-fluid underlined">
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method___construct">__construct</a>($setPrevURL = true)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_init">init</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_assign">assign</a>($val1, $val2)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_assign"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_fetch">fetch</a>($template)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_fetch"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_getResponse">getResponse</a>(array $template, boolean $no_error = false)
        
                                            <p>Display用にレスポンスを返す</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_getResponse"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setPage">setPage</a>(<abbr title="Eccube\Framework\LC_Page_Ex">LC_Page_Ex</abbr> $objPage)
        
                                            <p>Pageオブジェクトをセットします.</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_setPage"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    void
                </div>
                <div class="col-md-8 type">
                    <a href="#method_registFilter">registFilter</a>()
        
                                            <p>Smartyのfilterをセットします.</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_registFilter"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_prefilter_transform">prefilter_transform</a>(string $source, <abbr title="Eccube\Framework\Smarty_Compiler">Smarty_Compiler</abbr> $smarty)
        
                                            <p>prefilter用のフィルタ関数。プラグイン用のフックポイント処理を実行</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_prefilter_transform"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    string
                </div>
                <div class="col-md-8 type">
                    <a href="#method_outputfilter_transform">outputfilter_transform</a>(string $source, <abbr title="Eccube\Framework\Smarty_Compiler">Smarty_Compiler</abbr> $smarty)
        
                                            <p>outputfilter用のフィルタ関数。プラグイン用のフックポイント処理を実行</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_outputfilter_transform"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_display">display</a>($template, $no_error = false)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_display"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_assignobj">assignobj</a>($obj)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_assignobj"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_assignarray">assignarray</a>($array)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_assignarray"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_assignTemplatePath">assignTemplatePath</a>(integer $device_type_id)
        
                                            <p>テンプレートパスをアサインする.</p>                </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_assignTemplatePath"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_debug">debug</a>($var = true)
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View.html#method_debug"><abbr title="Eccube\Framework\View">View</abbr></a></small></div>
            </div>
                    <div class="row">
                <div class="col-md-2 type">
                    
                </div>
                <div class="col-md-8 type">
                    <a href="#method_setPrevURL">setPrevURL</a>()
        
                                            <p class="no-description">No description</p>
                                    </div>
                <div class="col-md-2"><small>from&nbsp;<a href="../../../Eccube/Framework/View/SiteView.html#method_setPrevURL"><abbr title="Eccube\Framework\View\SiteView">SiteView</abbr></a></small></div>
            </div>
            </div>


        <h2>Details</h2>

            <div id="method-details">
                    <div class="method-item">
                    <h3 id="method___construct">
        <div class="location">at         line 32</div>
        <code>                    
    <strong>__construct</strong>($setPrevURL = true)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$setPrevURL</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_init">
        <div class="location">at         line 37</div>
        <code>                    
    <strong>init</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_assign">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_assign"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 60</div>
        <code>                    
    <strong>assign</strong>($val1, $val2)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$val1</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$val2</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_fetch">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_fetch"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 66</div>
        <code>                    
    <strong>fetch</strong>($template)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$template</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_getResponse">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_getResponse"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 79</div>
        <code>                    string
    <strong>getResponse</strong>(array $template, boolean $no_error = false)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Display用にレスポンスを返す</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>array</td>
                <td>$template</td>
                <td></td>
            </tr>
                    <tr>
                <td>boolean</td>
                <td>$no_error</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setPage">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_setPage"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 104</div>
        <code>                    void
    <strong>setPage</strong>(<abbr title="Eccube\Framework\LC_Page_Ex">LC_Page_Ex</abbr> $objPage)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Pageオブジェクトをセットします.</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td><abbr title="Eccube\Framework\LC_Page_Ex">LC_Page_Ex</abbr></td>
                <td>$objPage</td>
                <td></td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_registFilter">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_registFilter"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 113</div>
        <code>                    void
    <strong>registFilter</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>Smartyのfilterをセットします.</p>                                </div>
                <div class="tags">
            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>void</td>
            <td></td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_prefilter_transform">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_prefilter_transform"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 125</div>
        <code>                    string
    <strong>prefilter_transform</strong>(string $source, <abbr title="Eccube\Framework\Smarty_Compiler">Smarty_Compiler</abbr> $smarty)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>prefilter用のフィルタ関数。プラグイン用のフックポイント処理を実行</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$source</td>
                <td>ソース</td>
            </tr>
                    <tr>
                <td><abbr title="Eccube\Framework\Smarty_Compiler">Smarty_Compiler</abbr></td>
                <td>$smarty</td>
                <td>Smartyのコンパイラクラス</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td>$source ソース</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_outputfilter_transform">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_outputfilter_transform"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 148</div>
        <code>                    string
    <strong>outputfilter_transform</strong>(string $source, <abbr title="Eccube\Framework\Smarty_Compiler">Smarty_Compiler</abbr> $smarty)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>outputfilter用のフィルタ関数。プラグイン用のフックポイント処理を実行</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>string</td>
                <td>$source</td>
                <td>ソース</td>
            </tr>
                    <tr>
                <td><abbr title="Eccube\Framework\Smarty_Compiler">Smarty_Compiler</abbr></td>
                <td>$smarty</td>
                <td>Smartyのコンパイラクラス</td>
            </tr>
            </table>

            
                            <h4>Return Value</h4>

                    <table class="table table-condensed">
        <tr>
            <td>string</td>
            <td>$source ソース</td>
        </tr>
    </table>

            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_display">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_display"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 163</div>
        <code>                    
    <strong>display</strong>($template, $no_error = false)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$template</td>
                <td></td>
            </tr>
                    <tr>
                <td></td>
                <td>$no_error</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_assignobj">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_assignobj"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 183</div>
        <code>                    
    <strong>assignobj</strong>($obj)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$obj</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_assignarray">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_assignarray"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 193</div>
        <code>                    
    <strong>assignarray</strong>($array)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$array</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_assignTemplatePath">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_assignTemplatePath"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 205</div>
        <code>                    
    <strong>assignTemplatePath</strong>(integer $device_type_id)
        </code>
    </h3>
    <div class="details">
            
    

                    <div class="method-description">
                                    <p>テンプレートパスをアサインする.</p>                                </div>
                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td>integer</td>
                <td>$device_type_id</td>
                <td>端末種別ID</td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_debug">
        <div class="location">in <a href="../../../Eccube/Framework/View.html#method_debug"><abbr title="Eccube\Framework\View">View</abbr></a> at         line 223</div>
        <code>                    
    <strong>debug</strong>($var = true)
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
                            <h4>Parameters</h4>

                    <table class="table table-condensed">
                    <tr>
                <td></td>
                <td>$var</td>
                <td></td>
            </tr>
            </table>

            
            
            
                    </div>
    </div>

            </div>
                    <div class="method-item">
                    <h3 id="method_setPrevURL">
        <div class="location">in <a href="../../../Eccube/Framework/View/SiteView.html#method_setPrevURL"><abbr title="Eccube\Framework\View\SiteView">SiteView</abbr></a> at         line 65</div>
        <code>                    
    <strong>setPrevURL</strong>()
        </code>
    </h3>
    <div class="details">
            
    

                <div class="tags">
            
            
            
                    </div>
    </div>

            </div>
            </div>

    
                </div>
                    <div id="footer">
        Generated by <a href="http://sami.sensiolabs.org/">Sami, the API Documentation Generator</a>.
    </div>
    <script>(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-12978473-5','auto');ga('require','displayfeatures');ga('send','pageview');</script>

        </div>
    </div>
    </body>

</html>
